
/* Bootstrap Container equivalent in Tailwind custom CSS */
.container-bs {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;   /* px-4 */
  padding-right: 1rem;  /* px-4 */
}

/* sm: 540px */
@media (min-width: 640px) {
  .container-bs {
    max-width: 540px;
  }
}

/* md: 720px */
@media (min-width: 768px) {
  .container-bs {
    max-width: 720px;
  }
}

/* lg: 960px */
@media (min-width: 1024px) {
  .container-bs {
    max-width: 960px;
  }
}

/* xl: 1140px */
@media (min-width: 1280px) {
  .container-bs {
    max-width: 1140px;
  }
}

/* 2xl: 1320px */
@media (min-width: 1536px) {
  .container-bs {
    max-width: 1320px;
  }
}

/* Bootstrap .container-fluid equivalent */

.container-fluid-bs {
  width: 100%;
  padding-left: 1rem;   /* px-4 */
  padding-right: 1rem;  /* px-4 */
  margin-left: auto;
  margin-right: auto;
}


.service-details {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Responsive image utilities to prevent layout shift and overflow */
.responsive-img,
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Preserve intrinsic aspect ratio for images that don't have width/height attributes.
   When possible use the `fix-image-dimensions.js` script to inject exact width/height. */
.img-aspect {
  width: 100%;
  height: auto;
  aspect-ratio: auto; /* overridden when width/height attributes present */
}

/* Decorative or absolutely positioned images should be contained and not overflow */
.img-decorative {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  pointer-events: none;
}

/* Small utility to ensure images inside positioned containers don't escape */
.img-contain {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Prevent SVG icons from being oversized when a width/height is not set */
img[src$=".svg"] {
  width: auto;
  height: auto;
  max-width: 30%;
}
